---
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import UtilsAuth from "@components/utils/UtilsAuth.astro"
import ScratchpadEditor from "@components/utils/Scratchpad"
---

<PageLayout
  title="Scratchpad"
  description="Write, preview, and export markdown notes."
>
  <TopLayout>
    <div class="animate">
      <h1 class="text-3xl font-semibold text-black dark:text-white mt-2">
        Scratchpad
      </h1>
      <div class="mt-1">
        A markdown editor with live preview, autosave, and export.
      </div>
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <UtilsAuth />
      <ScratchpadEditor client:load />
    </div>
  </BottomLayout>
</PageLayout>
